body {
	background-image: url(Gingham.png);
    /*background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: 100%;
  color: black;
  font-style: bold;
  font-family:'Courgette', cursive;
  text-align: center;
}
h1 {
	margin-top: 100px;
	padding-top:  50px;
font-size: 40px;
font-style: bold;
}
.writing {
	font-size: 36px;
}
 a {
 	text-align: right;
 }
main {
	background-color: white;
	margin: auto;
	width: 600px;
	padding-right: 20px;
	padding-left: 20px;
}
strong {
	font-color: red;
}
.change {
	background-color: red;
	color: white;
	font-family: helvetica;
	
}
